<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>BEERBOARD</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link th:href="@{~/css/styles.css}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Dashboard</a>

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
</nav>
<div id="layoutSidenav">
    <div th:insert="~{/left_bar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Détail de la bière</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/index}">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a th:href="@{/beers}">Liste des bières</a></li>
                    <li class="breadcrumb-item active">Détail de la bière</li>
                </ol>
                <div class="card mb-4">
                </div>
                <div class="content mt-3">
                    <div class="animated fadeIn">

                        <div class="row">

                            <div class="col-md-6">

                                <div class="card">
                                    <div class="card-header"><strong>Marque et brasserie</strong></div>
                                    <div class="card-body">
                                        <form action="index.php" method="GET">
                                            <div class="form-group">
                                                <label class="form-control-label"> Nom de la marque : </label>
                                                                                                <input class="form-control"
                                                                                                       type="text"
                                                                                                       name="reference"
                                                                                                       th:value="${biere.getMarque().getNomMarque()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Identifiant de la brasserie
                                                    : </label>
                                                                                                <input class="form-control" type="text" name="identifiant"
                                                                                                       th:value="${biere.getMarque().getBrasserie().getCodeBrasserie()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Nom de la brasserie : </label>
                                                                                                <input class="form-control" type="texte" name="nom"
                                                                                                       th:value="${biere.getMarque().getBrasserie().getNomBrasserie()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Ville : </label>
                                                                                                <input class="form-control" type="text" name="ville"
                                                                                                       th:value="${biere.getMarque().getBrasserie().getVille()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Région : </label>
                                                                                                <input class="form-control" type="text" name="région"
                                                                                                       th:value="${biere.getMarque().getBrasserie().getRegion().getNomRegion()}">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header"><strong>Détails</strong></div>
                                    <div class="card-body">
                                        <form action="index.php" method="GET">
                                            <div class="form-group">
                                                <label class="form-control-label"> Version : </label>
                                                                                                <input class="form-control" type="text" name="version"
                                                                                                       th:value="${biere.getVersion()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Couleur de la bière
                                                    : </label>
                                                                                                <input class="form-control" type="text" name="couleur"
                                                                                                       th:value="${biere.getCouleurBiere()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Taux d'alcool </label>
                                                                                                <input class="form-control" type="number" name="taux"
                                                                                                       th:value="${biere.getTauxAlcool()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Caractéristiques : </label>
                                                                                                <input class="form-control" type="text" name="caracteristiques"
                                                                                                       th:value="${biere.getCaracteristiques()}">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><strong>Type de bière</strong></div>
                                    <div class="card-body">
                                        <form action="index.php" method="GET">
                                            <div class="form-group">
                                                <label class="form-control-label"> Type de bière : </label>
                                                                                                <input class="form-control" type="text" name="type"
                                                                                                       th:value="${biere.getType().getNomType()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Description
                                                    : </label>
                                                                                                <input class="form-control" type="text" name="description"
                                                                                                       th:value="${biere.getType().getDescription()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Fermentation </label>
                                                                                                <input class="form-control" type="text" name="fermentation"
                                                                                                       th:value="${biere.getType().getFermentation()}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label"> Commentaire : </label>
                                                                                                <input class="form-control" type="text" name="commentaire"
                                                                                                       th:value="${biere.getType().getCommentaire()}">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .animated -->
                    </div><!-- .content -->
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div th:insert="~{/footer}"></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
        <script th:src="@{~/js/scripts.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script th:src="@{~/js/datatables-simple-demo.js}"></script>
    </div>
</div>
</body>
</html>

